version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGODB_URI=mongodb+srv://SEBA:5knfZPVaJaqg8c70@mydirndl.sln8xzm.mongodb.net/?retryWrites=true&w=majority&appName=MyDirndl
      - JWT_SECRET=megasecret
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BACKEND_URL=localhost
    networks:
      - app-network

networks:
  app-network:
    driver: bridge